In [6]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import pickle

from scipy.stats import pointbiserialr, kruskal, ttest_ind, f_oneway, shapiro, mannwhitneyu, levene
!pip install pingouin
import pingouin as pg

import warnings
warnings.filterwarnings('ignore')

!pip install category_encoders
from category_encoders import WOEEncoder, BaseNEncoder

import os

Requirement already satisfied: pingouin in /usr/local/lib/python3.7/dist-packages (0.3.10)
Requirement already satisfied: statsmodels>=0.10.0 in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.10.2)
Requirement already satisfied: outdated in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.2.1)
Requirement already satisfied: matplotlib>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from pingouin) (3.2.2)
Requirement already satisfied: seaborn>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.11.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.19.5)
Requirement already satisfied: pandas-flavor>=0.1.2 in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.2.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.8.9)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.22.2.post1)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.4.1)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.1.5)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.10.0->pingouin) (0.5.1)
Requirement already satisfied: littleutils in /usr/local/lib/python3.7/dist-packages (from outdated->pingouin) (0.2.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from outdated->pingouin) (2.23.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (2.8.1)
Requirement already satisfied: xarray in /usr/local/lib/python3.7/dist-packages (from pandas-flavor>=0.1.2->pingouin) (0.15.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->pingouin) (1.0.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->pingouin) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.4.0->statsmodels>=0.10.0->pingouin) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (2.10)
Requirement already satisfied: setuptools>=41.2 in /usr/local/lib/python3.7/dist-packages (from xarray->pandas-flavor>=0.1.2->pingouin) (54.2.0)
Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.2.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)

In [ ]:
fImpReal = pickle.load(open('fImpReal.fn', 'rb'))
getTransactions = pickle.load(open('getTransactions.fn', 'rb'))

In [4]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [7]:
os.chdir('drive/My Drive')

In [8]:
ls

 10.jpg
'10mM CaCl2 (1).gsheet'
'10mM CaCl2.gsheet'
'10mM CaCl2.ods'
'1mM CaCl2 (1).gsheet'
'1mM CaCl2 (2).gsheet'
'1mM CaCl2.gsheet'
'1mM CaCl2.ods'
 29333263_ticket.pdf
'3 CSTR.gdoc'
 4.gdoc
 4.pdf
'5 (1).gdoc'
 5.gdoc
'5mM CaCl2 (1).gsheet'
'5mM CaCl2.gsheet'
'5mM CaCl2.ods'
 5.pdf
'A2_1B_Fintubeheatexhanger (1).docx'
'A2_1B_Fintubeheatexhanger (1).gdoc'
'A7 Particle characterisation.pdf'
 Abstract.gdoc
'Academic_Transcript (1).pdf'
'Academic_Transcript (2).pdf'
'Academic_Transcript - Ashwin Nair.pdf'
 Academic_Transcript.pdf
'Air Berlin.odt'
'Air Berlin.odt.gdoc'
'Anand Mouli CV (1).gdoc'
'Anand Mouli CV (2).gdoc'
'Anand Mouli CV.gdoc'
'Anand Mouli CV.odt'
 ananthaspenassn2.docx
 ananthaspenassn2.gdoc
 Ashwin_CH16B033.m4a
 Ashwin_CH16B033.mp3
 Ashwin.csv
 Ashwin.jpeg
 Ashwin.JPG
'Ashwin - Mitacs Projects list.gdoc'
'Ashwin- SOP (1).gdoc'
'Ashwin- SOP (2).gdoc'
'Ashwin- SOP (3).gdoc'
'Ashwin- SOP (4).gdoc'
'Ashwin- SOP (5).gdoc'
'Ashwin- SOP (6).gdoc'
'Ashwin- SOP.docx'
'Ashwin- SOP.gdoc'
'ASSIGNMENT 1.docx'
'ASSIGNMENT 1.gdoc'
 Assignment-2_CH16B033.pdf
'Assignment_II_Full (1) (1).docx'
'Assignment_II_Full (1) (1).gdoc'
'Assignment_II_Full (1).docx'
'Assignment_II_Full (1).gdoc'
 Assignment.pdf
 Backup.odt
 BarathEOS
'Batch Crystalization(Readings).gsheet'
'Batch Crystalization(Readings).xlsx'
'Batch Distillation.gdoc'
'BIG Data Report.gdoc'
 Calculation_of_h.gsheet
 Calculation_of_h.ods
 Carbohydrates.gdoc
 CH16B001_3EXCEL.gsheet
 CH16B001_3EXCEL.xlsx
 CH16B033_Assignment3.pdf
'CH16B033_Placement Proof'/
'ch3510 lab 4 (6 files merged).gdoc'
'ch3510 lab 4 (6 files merged).pdf'
'CH4050: Chemical Technology and Equipment Design.gdoc'
'CH 5019 : MATHEMATICAL FOUNDATIONS OF DATA SCIENCE FINAL PROJECT.gdoc'
'Chemical Technology.gdoc'
'chem midsem.pdf'
 Citi_Finals/
 Classroom/
'CO2 production.gsheet'
 Code@
'Colab Notebooks'/
 Colors.gsheet
'Company Features Txn.ipynb'
'Company Features_with_Ashwin_edits.ipynb'
 Compound_Ashwin_CH16B033.m4a
 Computation9.pdf
'Copy of CH4050: Chemical Technology and Equipment Design.gdoc'
'Copy of CV Scores Citi.gsheet'
'Copy of HMT2.1.gsheet'
'Copy of HMT 2 Crystallization.gsheet'
'Copy of Kalliyoor study poster with chronic bronchitis.gslides'
'Copy of RG Forms - 333-348 Saras (Responses).gsheet'
'Copy of Statement of Interest (1).gdoc'
'Copy of Statement of Interest.gdoc'
'Copy of trainClean.csv'
'Corrected One.gdoc'
'Cover Letter (1).gdoc'
'Cover Letter.gdoc'
 CoverPic.jpg
 cre_coverpage.docx
 cre_coverpage.gdoc
'CRE_Lab_report1 (3) (1).docx'
'CRE_Lab_report1 (3) (1).gdoc'
'CRE_Lab_report1 (3).docx'
'CRE_Lab_report1 (3).gdoc'
'crelab_vishwesh (1).gsheet'
'crelab_vishwesh (1).xlsx'
 crelab_vishwesh.gsheet
 crelab_vishwesh.xlsx
'CRE Phase Catalysis .docx'
'CRE Phase Catalysis .gdoc'
'Curriculum Vitae.docx'
'CV (1).pdf'
'CV (2).pdf'
'CV (3).pdf'
'CV (4).pdf'
'CV (5).pdf'
'CV - Ashwin Nair.pdf'
 CV.docx
 CV.gdoc
 CV.pdf
'CV_PURE (1).pdf'
 CV_PURE.pdf
 Dataset.csv
 DDP.gdoc
 DDP_Week1.gdoc
 de.pdf
'DI N K  S M A L L W O O D.gdoc'
'Document from an ASSHOLE.pdf'
'Document from Ashwin'
'Document from Ashwin (1)'
'Document from Ashwin (1).pdf'
'Document from Ashwin (2).pdf'
'Document from Ashwin (3).pdf'
'Document from Ashwin (4).pdf'
'Document from Ashwin (5).pdf'
'Document from Ashwin (6).pdf'
'Document from Ashwin.pdf'
 edit2.docx
 edit2.docx.gdoc
'Electrokinetic  phenomena.docx'
'Electrokinetic  phenomena.gdoc'
 Electrophoresis.gdoc
'Ethics Endsem(RAGHAV HARD CARRY PLS).gsheet'
 experiment-9.docx
 experiment-9.gdoc
 expt2.pdf
'Expt 3 Datasheet.gsheet'
'Expt 3 Datasheet.xlsx'
'EXPT 5.docx'
'Expt7 DPHE.gdoc'
'Feature Tests.ipynb'
 fImpReal.fn
'Final1 (1).docx.gdoc'
 Final1.docx
 Final1.docx.gdoc
'Final NUT.gslides'
 Finals_Ashwin_CH16B033.wav
 finex19
 Finheat
 Finheat.gdoc
'Fittings, conduits observations.gdoc'
'Fittings, conduits observations.pdf'
'FLOW METERING.pdf'
'fluid assignment 1.pdf'
'Form Ahalf.gdoc'
 Functions.gdoc
 GoogleNews-vectors-negative300.bin.gz
'Google Photos'/
'GRAPHS- Fluid2.gdoc'
'Graphs Microfluidic Channels.gdoc'
'Graphs Microfluidic Channels.pdf'
 groupDF.csv
 groupDF.sav
 HAP2019/
 Hawaii/
'H mix2.docx'
'H mix2.docx.gdoc'
 hmix.pdf
'H mix.xlsx'
'H mix.xlsx.gsheet'
 hmt1.gdoc
 hmt1.pdf
 HMT2.1.gsheet
 HMT2.2.gsheet
 HMT2FinTube.gsheet
 HMT2FinTube.xlsx
 hmtlab-2.docx
 hmtlab-2.gdoc
 Hydrotropy.docx
 Hydrotropy.gdoc
'IITM_IDCard (1).pdf'
'IITM_IDCard (2).pdf'
'IITM_IDCard - Ashwin Nair.pdf'
 IITM_IDCard.pdf
 IMG_20200225_163706.jpg
 IMG_20200225_172859.jpg
 IMG_20200225_174503.jpg
 IMG_20200225_175205.jpg
 IMG_4068.JPG
 IMG_8877.JPG
 IMG_8884.JPG
 IMG_8997.JPG
 Initials_Ashwin_CH16B033.wav
 Intro_Class_31_July_2018.gdoc
 Intro_Class_31_July_2018.pdf
 ITC.gdoc
 ITC.odt
'Kalliyoor study poster with chronic bronchitis.gslides'
'Kalliyoor study poster with chronic bronchitis.pptx'
 Kannan.pdf
'Karlsruhe Institute of Technology.docx'
'Karlsruhe Institute of Technology.gdoc'
'LA Assignment Solution.pdf'
 lab3.gdoc
 lab3.pdf
'Letter-of-Approval 2019.docx'
'Letter-of-Approval 2019.gdoc'
 Limits.gdoc
 lle.pdf
 LOR_Panda.pdf
 Material_Assgn1.pdf
 MaterialAssign1.pdf
'Material Science After q2.pdf'
 megaknight.mp4
 merge.pdf
'MFDS: Final Project.gdoc'
'Mistakes in HAP website.doc'
'Mistakes in HAP website.gdoc'
'Mitaccs Projects List.gdoc'
'Model Selection.ipynb'
 MVDA1.pdf
 MVDA2.pdf
 MVDA.pdf
'My last minute save.gsheet'
'Nagaoka Application form (1).gdoc'
'Nagaoka Application form.docx'
'Nagaoka Application form.gdoc'
'New Doc 2017-09-28 (1).pdf'
 N_grams.ipynb
'Notes FOR WS 1010.pdf'
'NTHU SOP.gdoc'
 NUT.gdoc
 NUT_PPT.odp
'NYC Parking Data.gdoc'
'OBSERVATIONS AND RESULTS.gdoc'
'Open Ended Experiment.gsheet'
'Packed Bed.gdoc'
 packed.docx
 part3.pdf
 PDC11.pdf
 pdcpart3.pdf
 pdc.zip
'peak flow word 27 april.docx'
'peak flow word 27 april.gdoc'
'Personal Profile.gdoc'
 PFR_CSTR.gsheet
'Phase Transfer.gsheet'
'Photo from Ashwin'
'Photo from Ashwin (1)'
'Photo from Ashwin (2)'
 Placements.gdoc
'Pokemon _and_.gdoc'
'Poster (1) (1).gslides'
'Poster (1) (1).pptx'
'Poster (1).gslides'
'Poster (1).pptx'
'Poster 28x56-Template.pptx'
 Poster.gslides
 POSTER.gslides
'Preprocessing_3 (1).ipynb'
 Preprocessing_3.ipynb
 Preprocessing_final.ipynb
'PrescriptionOfExperiment_Grp19 (1).pdf'
'PRML ASSIGNMENT 1.docx'
'PRML  - Kaggle Data Contest (Team 5).gdoc'
 ProfilePic.jpg
'prof mail.docx'
'prof mail.gdoc'
'Project- Finalized.gdoc'
 PurdueCV.docx
 PurdueCV.gdoc
'Purdue SOP.gdoc'
 Purduskills.docx
 Purduskills.gdoc
 Renga_plus_Ashwin.csv
'Report: Big Data.gdoc'
 Results.gsheet
 Results.xlsx
 Runaway.gdoc
 Runaway.gsheet
 runaway_rxn.gsheet
'Saantwanam Daily issue  MARCH 2019.gsheet'
'Saantwanam Daily issue  MARCH 2019.xls'
 Saponification.pdf
'Savinase Bar Graphs.gsheet'
 Scene1starting.mp4
'Screenshot (3).png'
 Sedimentation
'Sedimentation graphs.gdoc'
'Self Assembly of Particles.gdoc'
 Send.rar
 Sequence.gdoc
'Shell and tube heat exchanger.gdoc'
'Shell And Tube Heat Exchanger.gdoc'
'Shell and tube heat exchanger.pdf'
'Size reduction.gsheet'
'Skills for Purdue.gdoc'
'Solid Dissolution 2018.gdoc'
'Solid State.gdoc'
'Solid State - Line chart 1.gsheet'
'Some important Functions.gdoc'
 specificSAf.gsheet
 specificSAf.xlsx
'Statement of Interest (1).pdf'
'Statement of Interest (2).pdf'
'Statement of Interest (3).pdf'
'Statement of Interest (4).pdf'
'Statement of Interest (5).pdf'
'Statement of Interest - Ashwin Nair.pdf'
'Statement  of  Interest.docx'
'Statement  of  Interest.gdoc'
'Statement of Interest.gdoc'
'Statement of Interest.pdf'
"Stefan's Tube.gdoc"
"Stefan's tube remade.gdoc"
 submit.pdf
'Technical University of Denmark (1).docx'
'Technical University of Denmark (1).gdoc'
'Technical University of Denmark.docx'
'Technical University of Denmark.gdoc'
 Test_fin.csv
 testTarg.sav
'ThisTable (1).doc'
'ThisTable (1).gdoc'
 ThisTable.doc
 ThisTable.gdoc
'Tobacco Results.gsheet'
 train.csv
 Train.csv
 traindata-cleaned.csv
 trainTarg.sav
'Transient Heat (1).gdoc'
'Transient Heat (2).gdoc'
 TransientHeatConduction.gdoc
 TransientHeatConduction.odt
'Transient Heat.gdoc'
'Transient Heat.pdf'
 Tutorial9.pdf
 txn_type.csv
 uci-news-aggregator.csv
'Untitled document (10).gdoc'
'Untitled document (1).gdoc'
'Untitled document (2).gdoc'
'Untitled document (3).gdoc'
'Untitled document (4).gdoc'
'Untitled document (5).gdoc'
'Untitled document (6).gdoc'
'Untitled document (7).gdoc'
'Untitled document (8).gdoc'
'Untitled document (9).gdoc'
'Untitled document.gdoc'
'Untitled spreadsheet (1).gsheet'
'Untitled spreadsheet (2).gsheet'
'Untitled spreadsheet (3).gsheet'
'Untitled spreadsheet.gsheet'
'Upendra Natarajan.gdoc'
 VID_20171111_093032622.mp4
 VID_20171111_094248660.mp4
 VISA.docx
 VISA.docx.gdoc
'Wet bulb.gdoc'
'Wet bulb.pdf'
 WS_notes.pdf

In [47]:
train = pd.read_csv('Train.csv', index_col=[0])
trans_date = train['transaction_val_dt'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
train['transaction_val_dt'] = trans_date

test = pd.read_csv('Test_fin.csv', index_col=0)
trans_date = test['transaction_val_dt'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
test['transaction_val_dt'] = trans_date

In [48]:
train.head()

                    rem_company_id_dummy  ...  payroll_ind
txn_refr_key_dummy                        ...
1                             1000000000  ...            0
4                             1000000020  ...            0
5                             1000000030  ...            0
7                             1000000050  ...            0
8                             1000000020  ...            0

[5 rows x 9 columns]

In [49]:
train['dd'] = train.apply(lambda x: x['transaction_val_dt'].day, axis=1)
rem_gps = train.groupby('rem_act_no_dummy')

In [50]:
rem_names = list(rem_gps.groups.keys())

In [51]:
def fn(x):
    n_inds = len(np.unique(x))
    if n_inds == 1 or 'Unknown' not in x:
        return n_inds
    else:
        return n_inds-1
    
n_ind = rem_gps['rem_company_ind'].unique().apply(fn)
multi_ind = rem_gps['rem_company_ind'].unique().apply(fn)

In [52]:
def get_n_ind(x):
    global multi_ind
    rem = x['rem_act_no_dummy']
    return multi_ind[rem]

train['rem_n_ind'] = train.apply(get_n_ind, axis=1)

In [53]:
rem_dd_means = rem_gps['dd'].mean()

def get_dd_props(x):
    global rem_dd_means, rem_dd_vars
    rem = x['rem_act_no_dummy']
    return abs(rem_dd_means[rem]-x['dd'])

dd_props = train.apply(get_dd_props, axis=1)
train['dd_diff_rem'] = dd_props

In [54]:
rem_txn_means = rem_gps['txn_amt'].mean()

def get_txn_props(x):
    global rem_txn_means
    rem = x['rem_act_no_dummy']
    return rem_txn_means[rem]-x['txn_amt']

txn_props = train.apply(get_txn_props, axis=1)
train['txn_amt_diff_rem'] = txn_props

In [55]:
train['time'] = (train['transaction_val_dt']-min(train['transaction_val_dt'])).apply(lambda x: x.days)
train.replace({'DOMESTIC':1,'CROSS BORDER':0}, inplace=True)

In [56]:
enc1 = BaseNEncoder(cols=['rem_company_ind'], base=2).fit(train['rem_company_ind'])
X = train[['rem_company_id_dummy', 'rem_act_no_dummy', 'bene_act_no_dummy']]
y = train['payroll_ind']
enc2 = WOEEncoder(cols=['rem_company_id_dummy', 'rem_act_no_dummy', 'bene_act_no_dummy']).fit(X, y)
encoded = enc1.transform(train['rem_company_ind'])
train = pd.merge(train, encoded, left_index=True, right_index=True)
train[['rem_company_id_dummy', 'rem_act_no_dummy', 'bene_act_no_dummy']] = enc2.transform(train[['rem_company_id_dummy', 'rem_act_no_dummy', 'bene_act_no_dummy']])
train.drop(['transaction_val_dt', 'yearmonth', 'rem_company_ind'], axis=1, inplace=True)

In [57]:
train

                    rem_company_id_dummy  ...  rem_company_ind_4
txn_refr_key_dummy                        ...
1                              -1.269904  ...                  1
4                              -3.598650  ...                  0
5                              -4.630725  ...                  1
7                              -5.651940  ...                  0
8                              -3.598650  ...                  0
...                                  ...  ...                ...
3220210                        -3.905272  ...                  0
3220217                        -3.905272  ...                  0
3220218                        -2.159350  ...                  0
3220222                         2.843253  ...                  1
3220224                        -2.159350  ...                  0

[1430633 rows x 16 columns]

In [58]:
Renga = pd.read_csv('Renga_plus_Ashwin_txn.csv',index_col=0)

In [59]:
Renga

                    rem_company_id_dummy  ...  rem_company_ind_4
txn_refr_key_dummy                        ...
1                              -1.269904  ...                  1
4                              -3.598650  ...                  0
5                              -4.630725  ...                  1
7                              -5.651940  ...                  0
8                              -3.598650  ...                  0
...                                  ...  ...                ...
3220210                        -3.905272  ...                  0
3220217                        -3.905272  ...                  0
3220218                        -2.159350  ...                  0
3220222                         2.843253  ...                  1
3220224                        -2.159350  ...                  0

[1430633 rows x 16 columns]

In [61]:
Renga = Renga.iloc[:,7:]

In [63]:
Renga = Renga.iloc[:,:3]

In [64]:
Renga

                    comp_n_ind  dd_diff_comp  txn_amt_diff_comp
txn_refr_key_dummy
1                            1      0.680341           3.401921
4                            1      3.671543           0.796466
5                            1     10.410000           0.204006
7                            1     15.574935           4.730780
8                            1      2.671543           0.826553
...                        ...           ...                ...
3220210                      1      5.372180      -22129.005488
3220217                      1     12.627820         880.071800
3220218                      1     12.619565       -3487.027372
3220222                      1      7.426087       -1528.723407
3220224                      1     10.619565       -3135.474874

[1430633 rows x 3 columns]

In [60]:
train

                    rem_company_id_dummy  ...  rem_company_ind_4
txn_refr_key_dummy                        ...
1                              -1.269904  ...                  1
4                              -3.598650  ...                  0
5                              -4.630725  ...                  1
7                              -5.651940  ...                  0
8                              -3.598650  ...                  0
...                                  ...  ...                ...
3220210                        -3.905272  ...                  0
3220217                        -3.905272  ...                  0
3220218                        -2.159350  ...                  0
3220222                         2.843253  ...                  1
3220224                        -2.159350  ...                  0

[1430633 rows x 16 columns]

In [65]:
Renga_plus_Ashwin_txn = pd.merge(train, Renga, left_index=True, right_index=True)

In [67]:
Renga_plus_Ashwin_txn.head()

                    rem_company_id_dummy  ...  txn_amt_diff_comp
txn_refr_key_dummy                        ...
1                              -1.269904  ...           3.401921
4                              -3.598650  ...           0.796466
5                              -4.630725  ...           0.204006
7                              -5.651940  ...           4.730780
8                              -3.598650  ...           0.826553

[5 rows x 19 columns]

In [68]:
Renga_plus_Ashwin_txn.to_csv('Renga_plus_Ashwin_txn.csv')

In [69]:
from google.colab import files
files.download('Renga_plus_Ashwin_txn.csv')