In [4]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import pickle

from scipy.stats import pointbiserialr, kruskal, ttest_ind, f_oneway, shapiro, mannwhitneyu, levene
from sklearn.impute import KNNImputer
# !pip install pingouin
# import pingouin as pg

# import warnings
# warnings.filterwarnings('ignore')

# !pip install category_encoders
from category_encoders import WOEEncoder, BaseNEncoder

import os
import pdb

In [2]:
train = pd.read_csv('Data/pair_data_withNaNs.csv', index_col=[0])

In [3]:
imputer = KNNImputer(n_neighbors=5).fit(train)

,n_txn,payroll_ind,txn_amt_var,txn_amt_mean,txn_rate,txn_gap_mean,txn_gap_var,txn_per_day_mean,dd_mean,dd_var,...,bene_txn_per_day_ratio,comp_txn_gap_diff,comp_txn_gap_var_ratio,rem_txn_gap_diff,rem_txn_gap_var_ratio,bene_txn_gap_diff,bene_txn_gap_var_ratio,txn_type_mean,rem_company_ind,rem_company_id_dummy
"(5000000, 8000000)",3,0,0.000954,1.480575,0.025641,58.500000,90.250000,1.0,11.333333,24.222222,...,1.0,-58.360720,321.093783,-58.254144,166.585267,0.0,1.0,0.0,Consumer,0.037033
"(5000000, 8538500)",4,0,0.038843,1.337178,0.250000,5.333333,11.555556,1.0,11.000000,38.000000,...,1.0,-5.194053,41.112654,-5.087477,21.329477,0.0,1.0,0.0,Consumer,0.037033
"(5000000, 8813800)",3,0,0.465905,1.553873,0.081081,18.500000,72.250000,1.0,15.666667,16.888889,...,1.0,-18.360720,257.052918,-18.254144,133.360504,0.0,1.0,0.0,Consumer,0.037033
"(5000000, 9768200)",7,0,0.003921,1.081052,0.041667,28.000000,73.000000,1.0,21.285714,47.346939,...,1.0,-27.860720,259.721287,-27.754144,134.744869,0.0,1.0,0.0,Consumer,0.037033
"(5000000, 9784300)",2,0,0.000000,1.218439,0.181818,11.000000,0.000000,1.0,9.500000,30.250000,...,1.0,-10.860720,0.000000,-10.754144,0.000000,0.0,NaN,0.0,Consumer,0.037033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(5742900, 74533500)",1,0,0.000000,2.727125,0.079409,35.575697,0.000000,1.0,26.000000,0.000000,...,1.0,-35.463677,0.000000,-35.575697,NaN,NaN,NaN,0.0,Industrials,-1.597808
"(5742900, 74564200)",1,0,0.000000,3.572418,0.079409,35.575697,0.000000,1.0,26.000000,0.000000,...,1.0,-35.463677,0.000000,-35.575697,NaN,NaN,NaN,0.0,Industrials,-1.597808
"(5743300, 74530200)",1,0,0.000000,1.054750,0.079409,35.575697,0.000000,1.0,26.000000,0.000000,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Industrials,0.000000
"(5743500, 74532600)",1,0,0.000000,7.023683,0.079409,35.575697,0.000000,1.0,26.000000,0.000000,...,1.0,-30.856947,0.000000,NaN,NaN,NaN,NaN,1.0,Industrials,4.195206
"(5743600, 74560500)",1,0,0.000000,5.312126,0.079409,35.575697,0.000000,1.0,26.000000,0.000000,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Industrials,0.000000